# Основные библиотеки для работы бота
pyTelegramBotAPI==4.14.1
g4f==0.1.9.0
requests==2.31.0

# Для работы с URL и кодировкой
urllib3==2.1.0

# Для логирования
python-logging-handler==1.0.3

# Для работы с изображениями
Pillow==10.2.0

# Для обработки системных сигналов
signal==1.4.0

# Для работы с операционной системой
platform==1.0.8
